# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
Prototype 1 - Car/[Ll]ibrary/
Prototype 1 - Car/[Tt]emp/
Prototype 1 - Car/[Oo]bj/
Prototype 1 - Car/[Bb]uild/
Prototype 1 - Car/[Bb]uilds/
Prototype 1 - Car/[Ll]ogs/
Prototype 1 - Car/[Uu]ser[Ss]ettings/


Prototype 2 - Feed Animals/[Ll]ibrary/
Prototype 2 - Feed Animals/[Tt]emp/
Prototype 2 - Feed Animals/[Oo]bj/
Prototype 2 - Feed Animals/[Bb]uild/
Prototype 2 - Feed Animals/[Bb]uilds/
Prototype 2 - Feed Animals/[Ll]ogs/
Prototype 2 - Feed Animals/[Uu]ser[Ss]ettings/

Prototype 3 - Jumpy Man/[Ll]ibrary/
Prototype 3 - Jumpy Man/[Tt]emp/
Prototype 3 - Jumpy Man/[Oo]bj/
Prototype 3 - Jumpy Man/[Bb]uild/
Prototype 3 - Jumpy Man/[Bb]uilds/
Prototype 3 - Jumpy Man/[Ll]ogs/
Prototype 3 - Jumpy Man/[Uu]ser[Ss]ettings/

Prototype 4 - Rolly Balls
Prototype 4 - Rolly Balls/[Ll]ibrary/
Prototype 4 - Rolly Balls/[Tt]emp/
Prototype 4 - Rolly Balls/[Oo]bj/
Prototype 4 - Rolly Balls/[Bb]uild/
Prototype 4 - Rolly Balls/[Bb]uilds/
Prototype 4 - Rolly Balls/[Ll]ogs/
Prototype 4 - Rolly Balls/[Uu]ser[Ss]ettings/

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
Prototype 1 - Car/[Mm]emoryCaptures/
Prototype 2 - Feed Animals/[Mm]emoryCaptures/
Prototype 3 - Jumpy Man/[Mm]emoryCaptures/

# Recordings can get excessive in size
Prototype 1 - Car/[Rr]ecordings/
Prototype 3 - Jumpy Man/[Rr]ecordings/

# Uncomment this line if you wish to ignore the asset store tools plugin
# Prototype 1 - Car/[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
Prototype 1 - Car/[Aa]ssets/Plugins/Editor/JetBrains*
Prototype 2 - Feed Animals/[Aa]ssets/Plugins/Editor/JetBrains*
Prototype 3 - Jumpy Man/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics generated file
crashlytics-build.properties

# Packed Addressables
Prototype 1 - Car/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Temporary auto-generated Android Assets
Prototype 1 - Car/[Aa]ssets/[Ss]treamingAssets/aa.meta
Prototype 1 - Car/[Aa]ssets/[Ss]treamingAssets/aa/*
